@{
    ViewBag.Title = "Fetch Data with AJAX";
    Layout = "Admin_master";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <div class="card-body mt-4" style="margin-left:30%; width:50%">
        <table id="dataTable" class="table table-bordered text-center" style="width:90%; margin: auto;margin-top:15%">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>created at</th>
                    <th>Updated at</th>
                    <th>Status</th>
                    <th colspan="2">Operation</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
    </div>

    <div id="data-container">
    </div>

    <script>
        $(document).ready(function () {
            fetch_pro();
        });

        function fetch_pro() {
            $.ajax({
                url: '@Url.Action("ProductView", "Product")',
                type: 'POST',
                success: function (response) {
                    $("#data").empty();
                    $("#data").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }



        function deletepro(id) {
            console.log(id);
            $.ajax({
                url: '/Product/ProductDelete',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response == "success") {
                        fetch_pro();
                    }
                    else {
                        alert("error deleting");
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        function updatepro(id) {
            window.location.href = `/Product/ProductUpdateView/${id}`;
        }



    </script>

</body>
</html>