
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="about.css">
    <link href="~/css/About_us.css" rel="stylesheet" />
</head>
<body>
    <div class="section s1">
        <div class="containers">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>Pearl Accessories Management System</h3>
                    <!-- <p>At PAMS, our mission is to revolutionize the way you manage and showcase your pearl accessories. We aim to empower pearl enthusiasts, jewelry stores, and collectors with cutting-edge tools and insights, ensuring that the beauty and value of each pearl piece is maximized. <br>
                        89, Sanskar Row House, Mota Varachha, Abrama, Surat <br>
                        +91 9723835454 , +91 9313098876 , +91 8866227947 <br>
                        pearlaccessories001@gmail.com <br> </p> -->
                    <h2>
                        At PAMS, our mission is to revolutionize the way you manage and showcase your pearl accessories. We aim to empower pearl enthusiasts, jewelry stores, and collectors with cutting-edge tools and insights, ensuring that the beauty and value of each pearl piece is maximized. <br><br>
                        89, Sanskar Row House, Mota Varachha, Abrama, Surat <br><br>
                        +91 9723835454 , +91 9313098876 , +91 8866227947 <br><br>
                        pearlaccessories001@gmail.com <br>
                    </h2>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="~/nec46.jpg" alt="">
            </div>
        </div>
    </div>

</body>
</html>
