
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="profile_page.css">
    <title>Document</title>
    <style>
        .error {
            color: red;
        }

        .container-fluid
        {
            padding-top:5%;
            margin-bottom:5%;
           
        }
    </style>
</head>
   
<body class="bg-right">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile settings</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-lg-3 col-md-4 d-md-block">
                        <div class="card bg-common card-left">
                            <div class="card-body">
                                <nav class="nav d-md-block d-none">
                                    <a data-toggle="tab" class="nav-link active" aria-current="page" href="/app/ProfileView"><i class="fas fa-user"></i> Profile</a>
                                    <a data-toggle="tab" class="nav-link" href="/app/Change_Password"><i class="fas fa-lock"></i> Change password</a>
                                    <a data-toggle="tab" class="nav-link" href="/app/logout"><i class="fas fa-unlock"></i> Logout</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-9">
                        <div class="card">
                            <div class="card-header border-bottom mb-3 d-md-none ">
                                <ul class="nav nav-tabs card-header-tabs nav-fill ">
                                    <li class="nav-item">
                                        <a data-toggle="tab" class="nav-link active" href="/app/ProfileView"><i class="fas fa-user"></i></a>
                                    </li>
                            
                                    
                                    <li class="nav-item">
                                        <a data-toggle="tab" class="nav-link " href="/app/Change_Password"><i class="fas fa-lock"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-toggle="tab" class="nav-link " href="/app/logout"><i class="fas fa-unlock"></i></a>
                                    </li>
                                </ul>
                            </div>
                
                            <!-- user-profile  -->

                            <div style="background-color: #fff; width: 400px; margin: 50px auto; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                <h2 style="text-align: center;">Change Password</h2>
                                <!-- Change Password Form -->
                                <label style="display: block; margin-bottom: 5px;" for="oldPass">Enter old password:</label>
                                <input style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px;" type="password" placeholder="Old Password" id="oldPass" />
                                <div style="color: red; margin-top: -10px; margin-bottom: 10px;" id="valid_oldpassword"></div>

                                <label style="display: block; margin-bottom: 5px;" for="pass">Enter new password:</label>
                                <input style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px;" type="password" placeholder="New Password" id="pass" />
                                <div style="color: red; margin-top: -10px; margin-bottom: 10px;" id="valid_password"></div>

                                <label style="display: block; margin-bottom: 5px;" for="comPass">Confirm new password:</label>
                                <input style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px;" type="password" placeholder="Confirm Password" id="comPass" />
                                <div style="color: red; margin-top: -10px; margin-bottom: 10px;" id="valid_compass"></div>

                                <div style="text-align: center;">
                                    <button style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;" onclick="Reset()">Reset Password</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function Reset() {
            $(document).ready(function () {
       
             
                var oldPass = $("#oldPass").val();
                var pass = $("#pass").val();
                var compass = $("#comPass").val();
                console.log(oldPass, pass,compass);

                cleaner();

                if (pass == "") {
                    $("#valid_password").text("please enter password");
                    return;
                } else if (!pass.match(/[a-z]/g)) {
                    $("#valid_password").text("Password must include small character");
                    return;
                } else if (!pass.match(/[A-Z]/g)) {
                    $("#valid_password").text("Password must include Capital character");
                    return;
                } else if (!pass.match(/[0-9]/g)) {
                    $("#valid_password").text("Password must include Number digits");
                    return;
                } else if (pass.length <= 6) {
                    $("#valid_password").text("Password must be more than 6 letters");
                    return;
                } else if (pass != compass) {
                    $("#valid_compass").text("please, check confirm password");
                    return;
                }

                cleaner();


                $.ajax({
                    url: '/Profile/resetPassword',
                    method: 'POST',
                    data: { oldpass: oldPass, newpassword: pass },
                    success: function (response) {
                        console.log(response);
                        if (response == "old") {
                            $("#valid_oldpassword").text("old password is wrong");
                        } else if (response == "success") {
                            $("#oldPass").val('');
                            $("#pass").val('');
                            $("#comPass").val('');
                            alert("Password changed successfully!");
                            window.location.href = "/Profile/ProfileView";
                        } else {
                            console.log("error");
                        }
                    },
                    error: function (xhr, status, error) {
                      
                        console.error('Error fetching options: ' + status + ' - ' + error);
                    }
                });
            });
        }

        function cleaner() {
            $("#valid_password").text("");
            $("#valid_oldpassword").text("");
            $("#valid_compass").text("");
        }
        </script>
</body>

</html>