@{
    ViewData["Title"] = "Category";
    Layout ="";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evSXbIWVMQvAuqLtWBQOnYlLWYr4pwfUFOPY4zKO03sPwTsL+FwEHcyTPz07sEverM" crossorigin="anonymous">
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body>
    <div class="container mt-3">
        <div id="cat"></div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetCategories", "UserCategory")',
                type: 'GET',
                success: function (response) {
                    $("#cat").html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching categories: ' + status + ' - ' + error);
                    // Handle errors gracefully, like displaying an error message
                }
            });
        });
    </script>
</body>
</html>