body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.container {
    align-content:center;
  
    text-align: center;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

input[type="email"],
input[type="text"],
input[type="password"],
button {
    width: calc(100% - 22px); /* Account for padding and border */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#valid_email,
#valid_otp,
#valid_password {
    color: red;
}

</style >
